.tourItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.inCartBadge {
    text-align: center;
    margin-top: -29px;
    font-weight: 800;
    color: white;
    display: block;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    letter-spacing: 2px;
    font-size: 20px;
    padding-bottom: 5px;
}

.tourItem .imgWrapper {
    position: relative;
    padding-top: 288px;
    width: 288px;
    margin: 0 auto;
}

.tourItem img {
    position: absolute;
    top: 0;
    display: block;
    z-index: 5;
    width: 100%;
    height: 100%;
}

@media only screen and (min-width: 900px) {
    .tourItem .imgWrapper {
        width: 100%;    
        padding-top: 100%;
    }
}

button {
    flex-grow: 1;
    border: 3px solid green;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    height: 40px;
    margin-top: auto;
    background-color: white;
    color: green;
    font-weight: 800;
}

button.delete {
    border: 3px solid darkgray;
    color: darkgray;
}

button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

button.delete:hover {
    background-color: darkgray;
    color: white;
    cursor: pointer;
}